spring:
    application:
        name: sinapse
    
    datasource:
        url: jdbc:postgresql://localhost:5432/sinapse_api
        username: postgres
        password: 123456
        driver-class-name: org.postgresql.Driver
  
    jpa:
        show-sql: true

        hibernate:
            ddl-auto: none
      
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
                format_sql: true 

#logging:
  #level:
    #org.hibernate.SQL: DEBUG
    #org.hibernate.type.descriptor.sql.BasicExtractor: TRACE